<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doi mat khau</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<h1>DOI MAT KHAU</h1>
<form method="post" action="/login">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <input type="password" name="new_password" placeholder="new_password" />
    <input type="submit" value="Confirm" />
</form>
</body>
</html>